.label1 {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-left: 100px;

  margin-top: 1px;
  font-size: medium;
  font-weight: bold;
}

.input-field .button {
  margin-top: 20px !important;
}
